
.Burger{
  display:none;
}



@media only screen and (max-width: 1024px){

    .Burger{
      display:block;
    }
    .nav-links {

      position: fixed;
      height: 100%;
      max-width: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #a3ccac;
      justify-content: space-evenly;
      //align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      padding-top: 3vh;
      z-index: 98;
      text-align: center;

    }
  
    
    .nav-links li {
  
      opacity: 0;
      margin-top:10vh;
      width: 50%;
    }
    
    .nav-links a {
      color: rgb(0, 0, 0);
      text-decoration: none;
      font-size: 14px;
     
     

    }
    
    .burger div {
      width: 25px;
      height: 3px;
      margin: 5px;
      transition: all 0.3s ease;
      background-color: black;
    }
    
    .nav-active {
      transform: translateX(0%);
      
    }
    
    .burger {
      justify-self: end;
      margin-top: 5px;
      display: block;
      z-index: 99;
      cursor: pointer;
      padding: 20px;
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    
    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
      opacity: 0;
    }
    
    .toggle .line3 {
      transform: rotate(+45deg) translate(-5px, -6px);
    }
}

