.work{
    width: 100%;
    background-color:rgb(211, 217, 207) ;
    height:100vh;
  }
  .work-container{
      width: 100%;
      padding-top: 20px;
  
  @media screen and (max-width:767px) {
      grid-template-columns: 1fr;
      justify-items: center;
      margin:2px;
      max-width: 100%;
  
  }
  }
  .work-container h1{
      margin-left: 2rem;
      font-family: 'Barlow Semi Condensed', Verdana;       
      font-size: 4em;
      font-weight: 900;
      color: rgb(25, 61, 49);        
      pointer-events: none;
  
  }
  .work-wrapper{
          
    margin-left: 2rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:rgb(211, 217, 207) ;


    @media  screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      float: none;
      margin:0;
      width: 100%;
     

       
    }
}

  .work-card{
  
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 12px 20px 0 rgba(0, 0, 0, 0.5);          
    background-color: rgba(89, 120, 100, 0.5);          
    backdrop-filter: blur 5px;
    overflow: hidden;
    
  
   @media screen and (max-width:768px) {
      max-width: 100%;
      justify-self: center;  
              
   }
}

.work-card:hover{
transform: scale(1.2);
}

  
        .work-card h1 {
          margin:6px;
          font-size: 1.8em;
          font-weight: 900;
          font-family: 'Barlow Semi Condensed', Verdana;       
          color:rgb(25, 61, 49);          
          text-align: center;
          
        }

        .work-card h2{
          margin:0;
          font-size: 1.8em;
          font-weight: 900;
          font-family: 'Barlow Semi Condensed', Verdana;       
          color:rgb(25, 61, 49);          
          text-align: center;
        }
  
        .work-card p {
         
          font-size: 1em;
          font-weight: bolder;
          font-family: 'Barlow Semi Condensed', Verdana;       
          color: rgb(25, 61, 49);        
          pointer-events: none;
          text-align: center;
          margin:2px;
  
        
        }
      
  
   /* .tech{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      justify-items: center;
      padding: 5px;


      img{
        width:80%;
      }
    }*/
     
  
        
    